-- /*M!999999\- enable the sandbox mode */ 
-- -- MariaDB dump 10.19-11.6.2-MariaDB, for Win64 (AMD64)
-- --
-- -- Host: localhost    Database: eventwise_db
-- -- ------------------------------------------------------
-- -- Server version	8.0.40

-- /*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
-- /*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
-- /*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
-- /*!40101 SET NAMES utf8mb4 */;
-- /*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
-- /*!40103 SET TIME_ZONE='+00:00' */;
-- /*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
-- /*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
-- /*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
-- /*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

-- --
-- -- Table structure for table `event`
-- --

-- DROP TABLE IF EXISTS `event`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `event` (
--   `id` bigint NOT NULL AUTO_INCREMENT,
--   `description` varchar(255) DEFAULT NULL,
--   `end_date` varchar(255) DEFAULT NULL,
--   `location` varchar(255) DEFAULT NULL,
--   `name` varchar(255) DEFAULT NULL,
--   `start_date` varchar(255) DEFAULT NULL,
--   `total_budget` double DEFAULT NULL,
--   `user_id` bigint DEFAULT NULL,
--   PRIMARY KEY (`id`),
--   KEY `FKi8bsvlthqr8lngsyshiqsodak` (`user_id`),
--   CONSTRAINT `FKi8bsvlthqr8lngsyshiqsodak` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
-- ) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `event`
-- --

-- LOCK TABLES `event` WRITE;
-- /*!40000 ALTER TABLE `event` DISABLE KEYS */;
-- INSERT INTO `event` VALUES
-- (1,'Annual technology summit','2023-11-17','Convention Center','Tech Conference 2023','2023-11-15',10000,1),
-- (2,'Digital marketing training','2023-12-06','Business Hub','Marketing Workshop','2023-12-05',3500,2),
-- (3,'New product release event','2024-01-20','Grand Hotel','Product Launch','2024-01-20',8000,3),
-- (4,'Annual fundraising dinner','2023-12-10','Ritz Carlton','Charity Gala','2023-12-10',15000,4),
-- (5,'Company retreat','2024-02-17','Mountain Lodge','Team Building','2024-02-15',5000,5),
-- (6,'Contemporary art showcase','2023-11-27','Art Gallery','Art Exhibition','2023-11-25',3000,6),
-- (7,'Local bands performance','2024-03-12','City Park','Music Festival','2024-03-10',20000,7),
-- (8,'International research symposium','2024-04-07','University Hall','Academic Conference','2024-04-05',7000,8),
-- (9,'Spring collection premiere','2024-02-28','Fashion Center','Fashion Show','2024-02-28',12000,9),
-- (10,'Local cuisine festival','2023-12-17','Town Square','Food Fair','2023-12-15',6000,10),
-- (11,'Sample','2025-08-12','City','Test Event','2025-08-10',500,1),
-- (12,'John\'s 25th birthday celebration','2025-08-15','Community Hall, Main Street','Birthday Party','2025-08-15',5000,1),
-- (14,'Engagement ceremony','2025-08-21','Shrangila Hotel , Colombo','Engagement','2025-08-21',1000,14);
-- /*!40000 ALTER TABLE `event` ENABLE KEYS */;
-- UNLOCK TABLES;

-- --
-- -- Table structure for table `expense`
-- --

-- DROP TABLE IF EXISTS `expense`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `expense` (
--   `id` bigint NOT NULL AUTO_INCREMENT,
--   `amount` decimal(38,2) DEFAULT NULL,
--   `name` varchar(255) DEFAULT NULL,
--   `event_id` bigint DEFAULT NULL,
--   PRIMARY KEY (`id`),
--   KEY `FK33vnonl4r0y7r0e2qy06n5nfg` (`event_id`),
--   CONSTRAINT `FK33vnonl4r0y7r0e2qy06n5nfg` FOREIGN KEY (`event_id`) REFERENCES `event` (`id`)
-- ) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `expense`
-- --

-- LOCK TABLES `expense` WRITE;
-- /*!40000 ALTER TABLE `expense` DISABLE KEYS */;
-- INSERT INTO `expense` VALUES
-- (1,750.00,'Updated Expense Name',1),
-- (2,1800.00,'Speaker Fees',1),
-- (3,950.50,'Workshop Materials',2),
-- (4,1200.00,'Trainer Honorarium',2),
-- (5,3500.00,'Stage Setup',3),
-- (6,1500.00,'AV Equipment',3),
-- (7,5000.00,'Gala Dinner',4),
-- (8,2000.00,'Entertainment',4),
-- (9,1200.00,'Accommodation',5),
-- (10,800.00,'Activities',5),
-- (11,750.00,'Art Transport',6),
-- (12,500.00,'Exhibition Catalog',6),
-- (13,8000.00,'Main Stage',7),
-- (14,3000.00,'Sound System',7),
-- (15,2000.00,'Research Kits',8),
-- (16,1500.00,'Guest Lectures',8),
-- (17,5000.00,'Runway Setup',9),
-- (18,2500.00,'Model Fees',9),
-- (19,2000.00,'Food Stalls',10),
-- (20,1000.00,'Promotions',10),
-- (21,10.00,'Saree',14),
-- (22,1.00,'Saree',14),
-- (23,1.00,'Saree',14),
-- (24,500.00,'Wedding Decorations',14),
-- (25,2.00,'saree2',14),
-- (26,1.00,'saree3',14);
-- /*!40000 ALTER TABLE `expense` ENABLE KEYS */;
-- UNLOCK TABLES;

-- --
-- -- Table structure for table `profile`
-- --

-- DROP TABLE IF EXISTS `profile`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `profile` (
--   `id` bigint NOT NULL AUTO_INCREMENT,
--   `user_id` bigint NOT NULL,
--   `phone` varchar(20) DEFAULT NULL,
--   `address` text,
--   `city` varchar(100) DEFAULT NULL,
--   `country` varchar(100) DEFAULT NULL,
--   `bio` text,
--   `date_of_birth` date DEFAULT NULL,
--   `profile_picture_url` varchar(500) DEFAULT NULL,
--   `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
--   `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
--   PRIMARY KEY (`id`),
--   KEY `user_id` (`user_id`),
--   CONSTRAINT `profile_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
-- ) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `profile`
-- --

-- LOCK TABLES `profile` WRITE;
-- /*!40000 ALTER TABLE `profile` DISABLE KEYS */;
-- INSERT INTO `profile` VALUES
-- (1,1,'+1234567890','123 Main Street','New York','USA','Software developer with 5 years experience','1990-05-15',NULL,'2025-08-09 05:04:01','2025-08-09 05:04:01');
-- /*!40000 ALTER TABLE `profile` ENABLE KEYS */;
-- UNLOCK TABLES;

-- --
-- -- Table structure for table `user`
-- --

-- DROP TABLE IF EXISTS `user`;
-- /*!40101 SET @saved_cs_client     = @@character_set_client */;
-- /*!40101 SET character_set_client = utf8 */;
-- CREATE TABLE `user` (
--   `id` bigint NOT NULL AUTO_INCREMENT,
--   `email` varchar(255) DEFAULT NULL,
--   `full_name` varchar(255) DEFAULT NULL,
--   `password` varchar(255) DEFAULT NULL,
--   PRIMARY KEY (`id`)
-- ) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
-- /*!40101 SET character_set_client = @saved_cs_client */;

-- --
-- -- Dumping data for table `user`
-- --

-- LOCK TABLES `user` WRITE;
-- /*!40000 ALTER TABLE `user` DISABLE KEYS */;
-- INSERT INTO `user` VALUES
-- (1,'john.doe@example.com','John William Doe','$2b$10$DlAIFq95BpqIbS.ARaFltemydw1hIbkJDVJV.VKd.J.fKihqKZPqi'),
-- (12,'new@example.com','New User','$2a$10$B4oanLphYIR/zbqRMCAWVOq8XPZPszH/XfIO1Z5nfZrlKgr6OkZ9.'),
-- (13,'john.doel@example.com',NULL,'$2b$10$J.IeEFKiUbRMHKKn97RVquUQK3thPYVra.6RIBl79KfvzD7y9Z8Hm'),
-- (14,'test@example.com',NULL,'plaintext123'),
-- (15,'test1@example.com',NULL,'plaintext1234'),
-- (16,'user14@example.com','Nisanda Vindiya','password123');
-- /*!40000 ALTER TABLE `user` ENABLE KEYS */;
-- UNLOCK TABLES;
-- /*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

-- /*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
-- /*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
-- /*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
-- /*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
-- /*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
-- /*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
-- /*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- -- Dump completed on 2025-08-10 11:53:12
